<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgudal.pgsql.mapper.TelepgInstParamHistoryMapper">
  <resultMap id="BaseResultMap" type="com.ctgudal.pgsql.entity.TelepgInstParamHistory">
    <id column="pg_inst_param_history_id" jdbcType="BIGINT" property="pgInstParamHistoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value_before" jdbcType="VARCHAR" property="valueBefore" />
    <result column="value_after" jdbcType="VARCHAR" property="valueAfter" />
    <result column="create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="update_timestamp" jdbcType="TIMESTAMP" property="updateTimestamp" />
    <result column="check_apply" jdbcType="BIT" property="checkApply" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="pg_inst_id" jdbcType="VARCHAR" property="pgInstId" />
  </resultMap>
  <sql id="Base_Column_List">
    pg_inst_param_history_id, name, value_before, value_after, create_timestamp, update_timestamp, 
    check_apply, error_msg, tenant_id, pg_inst_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from telepg_inst_param_history
    where pg_inst_param_history_id = #{pgInstParamHistoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from telepg_inst_param_history
    where pg_inst_param_history_id = #{pgInstParamHistoryId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ctgudal.pgsql.entity.TelepgInstParamHistory">
    insert into telepg_inst_param_history (pg_inst_param_history_id, name, value_before, 
      value_after, create_timestamp, update_timestamp, 
      check_apply, error_msg, tenant_id, 
      pg_inst_id)
    values (#{pgInstParamHistoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{valueBefore,jdbcType=VARCHAR}, 
      #{valueAfter,jdbcType=VARCHAR}, #{createTimestamp,jdbcType=TIMESTAMP}, #{updateTimestamp,jdbcType=TIMESTAMP}, 
      #{checkApply,jdbcType=BIT}, #{errorMsg,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT}, 
      #{pgInstId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ctgudal.pgsql.entity.TelepgInstParamHistory">
    insert into telepg_inst_param_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pgInstParamHistoryId != null">
        pg_inst_param_history_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="valueBefore != null">
        value_before,
      </if>
      <if test="valueAfter != null">
        value_after,
      </if>
      <if test="createTimestamp != null">
        create_timestamp,
      </if>
      <if test="updateTimestamp != null">
        update_timestamp,
      </if>
      <if test="checkApply != null">
        check_apply,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="pgInstId != null">
        pg_inst_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pgInstParamHistoryId != null">
        #{pgInstParamHistoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="valueBefore != null">
        #{valueBefore,jdbcType=VARCHAR},
      </if>
      <if test="valueAfter != null">
        #{valueAfter,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null">
        #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimestamp != null">
        #{updateTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="checkApply != null">
        #{checkApply,jdbcType=BIT},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="pgInstId != null">
        #{pgInstId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctgudal.pgsql.entity.TelepgInstParamHistory">
    update telepg_inst_param_history
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="valueBefore != null">
        value_before = #{valueBefore,jdbcType=VARCHAR},
      </if>
      <if test="valueAfter != null">
        value_after = #{valueAfter,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null">
        create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimestamp != null">
        update_timestamp = #{updateTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="checkApply != null">
        check_apply = #{checkApply,jdbcType=BIT},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="pgInstId != null">
        pg_inst_id = #{pgInstId,jdbcType=VARCHAR},
      </if>
    </set>
    where pg_inst_param_history_id = #{pgInstParamHistoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctgudal.pgsql.entity.TelepgInstParamHistory">
    update telepg_inst_param_history
    set name = #{name,jdbcType=VARCHAR},
      value_before = #{valueBefore,jdbcType=VARCHAR},
      value_after = #{valueAfter,jdbcType=VARCHAR},
      create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      update_timestamp = #{updateTimestamp,jdbcType=TIMESTAMP},
      check_apply = #{checkApply,jdbcType=BIT},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      pg_inst_id = #{pgInstId,jdbcType=VARCHAR}
    where pg_inst_param_history_id = #{pgInstParamHistoryId,jdbcType=BIGINT}
  </update>
</mapper>