<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgudal.pgsql.mapper.TelepgZookeeperInfoMapper">
  <resultMap id="BaseResultMap" type="com.ctgudal.pgsql.entity.TelepgZookeeperInfo">
    <id column="zookeeper_id" jdbcType="BIGINT" property="zookeeperId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="primary_namespace" jdbcType="VARCHAR" property="primaryNamespace" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enable_acl" jdbcType="BIT" property="enableAcl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    zookeeper_id, url, primary_namespace, username, password, enable_acl, description, 
    create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from telepg_zookeeper_info
    where zookeeper_id = #{zookeeperId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from telepg_zookeeper_info
    where zookeeper_id = #{zookeeperId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ctgudal.pgsql.entity.TelepgZookeeperInfo">
    insert into telepg_zookeeper_info (zookeeper_id, url, primary_namespace, 
      username, password, enable_acl, 
      description, create_user, create_time, 
      update_user, update_time)
    values (#{zookeeperId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{primaryNamespace,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{enableAcl,jdbcType=BIT}, 
      #{description,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ctgudal.pgsql.entity.TelepgZookeeperInfo">
    insert into telepg_zookeeper_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zookeeperId != null">
        zookeeper_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="primaryNamespace != null">
        primary_namespace,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="enableAcl != null">
        enable_acl,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zookeeperId != null">
        #{zookeeperId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="primaryNamespace != null">
        #{primaryNamespace,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="enableAcl != null">
        #{enableAcl,jdbcType=BIT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctgudal.pgsql.entity.TelepgZookeeperInfo">
    update telepg_zookeeper_info
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="primaryNamespace != null">
        primary_namespace = #{primaryNamespace,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="enableAcl != null">
        enable_acl = #{enableAcl,jdbcType=BIT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where zookeeper_id = #{zookeeperId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctgudal.pgsql.entity.TelepgZookeeperInfo">
    update telepg_zookeeper_info
    set url = #{url,jdbcType=VARCHAR},
      primary_namespace = #{primaryNamespace,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      enable_acl = #{enableAcl,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where zookeeper_id = #{zookeeperId,jdbcType=BIGINT}
  </update>
</mapper>